.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  margin-top: 40px;
}

.events_large {
  width: 440px;
  gap: 0;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.09);
  padding: 0 0 26px;
}

.events__title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(191, 21, 35, 1);
  padding: 16px 26px;
  margin: 0;
}
