.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.events_large {
  gap: 0;
  max-width: 440px;
}

.events_title_sideway {
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.events__title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(191, 21, 35, 1);
  padding: 16px 26px;
  margin: 0;
}

.events_title_sideway .events__title {
  padding: 16px 8px;
  width: min-content;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  background-color: white;
  text-align: center;
}

.events__title_selected {
  border: 1px solid rgba(120, 120, 120, 1);
}

.events__container {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.09);
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top:26px;
}
