.mobile-wrapper {
  background-color: white;
  width: 320px;
}

.events-wrapper-week {
  background-color: white;
  width: 527px;
}

.events-wrapper-month {
  background-color: white;
  width: 527px;
}
